.mainPanel {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.leftBar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #dfdddd;
}

.board {
    margin: 20px;
    background-color: sandybrown;
    position: relative;
}

#boardCells {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(18, 40px);
    grid-template-rows: repeat(18, 40px);
    border: 1px solid black;
}

.boardCell {
    border: 1px solid black;
}

#gridCells {
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(19, 40px);
    position: absolute;
    top: 0;
}

.gridCell {
    border: 1px dot-dash lightgrey;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turnBlack .gridCell:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.turnWhite .gridCell:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.gridCell.stoneWhite,
.gridCell.stoneWhite:hover {
    background-color: white;
    cursor: auto;
}

.gridCell.stoneBlack,
.gridCell.stoneBlack:hover {
    background-color: black;
    cursor: auto;
}

.stoneWhite.latest,
.stoneBlack.latest {
    border: 2px solid red
}

.turnPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 50px 30px;
}

.turnLab {
    text-transform: uppercase;
}

.playerTurn {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.turnWhite .playerTurn {
    background-color: white;
}

.turnBlack .playerTurn {
    background-color: black;
}

.passBtn {
    margin: 15px;
    height: 40px;
    background: white;
    font-size: 18px;
    cursor: pointer;
}